<table mat-table
       [dataSource]="dataService.dataForTable"
       class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Product</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price</th>
    <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
  </ng-container>

  <ng-container matColumnDef="buy">
    <th mat-header-cell *matHeaderCellDef> Buy</th>
    <td mat-cell *matCellDef="let element">
      <input class="list__number-to-buy"
             #numToBuy
             type="number"
             matInput
             min="0"
             value="{{dataService.cartNumberOnName(element.name)}}"
             (change)="onInput(element.name, numToBuy.value)">
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="buttons-container">
  <button mat-raised-button (click)="addItem()">Add Product</button>
  <button mat-raised-button (click)="openCart()">To Cart</button>
</div>
